.row-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chevron-icon {
    margin-left: auto; 
    color: rgb(201, 90, 90);
    width: 80px;
  }
  

.category-list-row {
    border-bottom: 1px solid #dddcdc; /* Satır aralarına çizgi ekleyen CSS */
  }
  